[2021-08-17 20:35] baristaTam opened #183 "Sign in with Microsoft broken"
Happens in Edge, Chrome, Firefox. Multiple users affected.
Steps to reproduce:
•	Browse to powershellgallery.com
•	Click Sign In (top right)
•	Click Sign in with Microsoft
•	Sign in with your Microsoft account and password, get one of two errors below:

Sorry, but we’re having trouble signing you in.

AADSTS700016: Application with identifier '8dc29313-29fc-4049-9e83-4abc54578e26' was not found in

[2021-08-17 20:35] baristaTam commented on #181
We are also unable to sign in from my organization

[2021-08-17 21:32] hcparr opened #184 "Powershell Gallery Service Unavailable"
Cannot access gallery or download packages.  When going to powershellgallery.com I receive a 503 Service Unavailable error and when trying to download a package it fails saying it cannot find the specified module.

[2021-08-17 21:44] ShaunH-Iress commented on #184
I am experiencing this as well.

[2021-08-17 21:48] alerickson commented on #184
Thank you all, we're looking into this issue with extreme urgency.  There seems to be an extremely slow connection causing timeouts.  I will update our status page with this issue and reply here with more updates.

[2021-08-17 21:51] pkoushik commented on #184
We are seeing this as well - will wait on an update!

[2021-08-17 21:58] alerickson commented on #184
It looks like our cloud services have degraded, I'm currently trying a redeployment.

[2021-08-17 23:47] crc56 commented on #184
Are there any updates on this?

[2021-08-18 00:29] stmoor opened #185 "Register-PackageSource : Source Location 'https://www.powershellgallery.com/api/v2' is not valid."
I am trying to install a module and I get the following error:

![image](https://user-images.githubusercontent.com/77985069/129817621-869d55c4-7252-4658-8469-18ec0881fb6c.png)

After some googling, I found some solutions such as enforcing TLS12 by calling the following command

[code]

This did not work for me. Another solution was to register the package source with the following command:

[code]

[2021-08-18 00:31] roshangautam commented on #184
would appreciate any updates on this. This is blocking our release pipelines

[2021-08-18 00:39] okazakov commented on #185
Yep, https://www.powershellgallery.com/api/v2 is completely down.
Requests are timing out.
Is it expired TLS cert again?
C'mon Microsoft! We can no longer rely on your services anymore. The frequency with which PSGallery is unavailable is embarrassing.  Get your act together already.

[2021-08-18 00:45] Sunitakumari commented on #157
We are experiencing same issue again. Powershell galary is not reachable. Can we reopen this issue?

[2021-08-18 00:50] Sunitakumari commented on #166
Hi All, I am experiencing this issue again. Can't access powershell gallary. Can we reopen this issue?

[2021-08-18 00:53] OzoneNZ commented on #184
Back up and running for me :)

[2021-08-18 00:53] AElharouny commented on #166
Welcome to the 3-month-versary of this to go down as no one seems to care about picking up a certificate rotation story.
See you here in 3 months.

[2021-08-18 00:54] Sunitakumari opened #186 "PowershellGallery.com Cert has expired"
It seems that the certificate for powershell gallery (https://www.powershellgallery.com/) has expired.
I can't seem to download any modules from the gallery now.

Error:
The term 'Add-AzureAnalysisServicesAccount' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try

[2021-08-18 00:55] JimLin-Qcttw commented on #166
August 17th, 2021 20:45 UTC The PowerShell Gallery is having issues with latency.
There is currently very low availability, with timeout errors when attempting to access the PSGallery.

Status: Investigating

August 17th, 2021 20:00 UTC The PowerShell Gallery is having issues allowing users to log in to accounts.
Users are currently unable to log in due to a an error with the Azure active director

[2021-08-18 00:56] AElharouny commented on #166
Oh, OK my bad :)

[2021-08-18 01:07] okazakov commented on #166
A new issue has been created for this one:
https://github.com/PowerShell/PowerShellGallery/issues/185

[2021-08-18 01:16] alerickson commented on #184
Should be back up and running as of about 20 minutes ago.  Instances were booting up slowly over this time but we are in near full capacity again.

[2021-08-18 01:17] alerickson commented on #185
This issue is resolved now

[2021-08-18 01:17] #185 closed

[2021-08-18 01:19] alerickson commented on #186
Hello, we had an availability issue due to a deleted AAD app registration.  This issue is resolved now.  Please see our status file for more details.  Thank you and we apologize for this extreme inconvenience!

[2021-08-18 01:19] #186 closed

[2021-08-18 01:21] alerickson commented on #183
This should be resolved now.  I apologize for the issues regarding this!

[2021-08-18 01:21] #183 closed

[2021-08-18 01:23] alerickson commented on #181
This issue should be resolved now (as of roughly 30 minutes ago).  I apologize for the confusion and inconvenience!

[2021-08-18 01:23] #181 closed

[2021-08-18 01:26] alerickson commented on #184
I’m closing this issue because the issue seems to be fully resolved now, after roughly 30 minutes of stable connectivity.  Of course please feel free to open up an issue or comment here if you’re still encountering this problem or experience latency.  I appreciate the patience as we slowly try to improve on the vast technical debt that exists in the Gallery.

[2021-08-18 01:26] #184 closed

[2021-08-18 02:02] alerickson commented on #166
Hi all, there should not be any cert issues, so if anyone is encountering that, please open a new issue so we can investigate.  The issue causing the outage today was regarding an App Registration resource and that issue is fully resolved now.

[2021-08-18 14:23] Doc94 commented on #184
Hi, i dont know if is the same issue but when update a module get a error for "powershell gallery is currently unavailable"
![image](https://user-images.githubusercontent.com/3602279/129915675-b19e5511-3ed8-4d4c-af82-d4a887ee7985.png)

[2021-08-18 15:46] tcartwright commented on #74
I am experiencing this issue as well. Actually found this by googling powershellgallery 301 redirect.  My vote goes to using a 302 like @dahlbyk suggested. Is there a valid reason for using a 301?

[2021-08-19 18:44] anamnavi commented on #182
Hi @mifitous thanks for reaching out. You'll need to get in touch with the package owner since this is related to an issue from their end, via the Contact Owner form on the package's webpage on PSGallery.

[2021-08-19 18:44] #182 closed

[2021-08-19 18:46] anamnavi commented on #179
Hi @rashil2000, thanks for reaching out and we're sorry we missed your email. We'll take a look at it and respond today. Thanks!

[2021-08-19 18:46] #179 closed

[2021-08-19 22:09] Liturgist commented on #153
This is still open and I am having this issue.

[code]

[2021-08-20 15:18] Liturgist opened #187 "PSGallery not available. What is OneGetTestSource PSRepository?"
It appears that `PSGallery` is not working in the same way that it has in the past. Is `OneGetTestSource` a replacement for `PSGallery`?

Is `OneGetTestSource` a reliable place from which to install the Azure `Az` kit?

[code]

[2021-08-21 20:28] rashil2000 commented on #179
@anamnavi I still haven't received any communication.

[2021-08-23 18:04] v-schintala opened #188 "Hyperlinks are not working for PowerShell commands from the URL"
URL- https://docs.microsoft.com/en-us/archive/blogs/skypehybridguy/microsoft-teams-powershell-support?source=docs

When I click on the hyperlink, it's redirecting me to https://www.powershellgallery.com/items?q=Cmdlets%3A%22Add-TeamUser%22 and it's giving a 404 page not found error for all the commands.

![PS 404 Page Not Found Error](https://user-images.githubusercontent.com/89413884/130495133-e1

[2021-08-24 10:47] stefanes commented on #155
[code]

Also:
[code]

[2021-08-24 20:39] stredoux commented on #177
the issue is  :  **This site key is not enabled for the invisible captcha.**

[2021-08-25 15:54] pcgeek86 opened #189 "Identify applications utilizing PowerShell Gallery API keys and last access times"
### Synopsis

I am using API keys in PowerShell Gallery to automatically publish modules from source code in GitHub. I'm using GitHub Actions as a continuous deployment system.

However, I also occasionally publish modules to PowerShell Gallery manually, from other locations. I have multiple API keys configured in PowerShell Gallery, but I don't know which API keys are being used by which applicat

[2021-09-01 17:54] reuvenab commented on #153
Experienced same problem with Powershell 7.1.4
![image](https://user-images.githubusercontent.com/85445/131719819-e9187d27-0e98-42ae-8e03-ae07c6beb5e5.png)

Solved it using "regular" Powershell 5.1
![image](https://user-images.githubusercontent.com/85445/131719951-80650a6a-907f-4a7a-b393-f40003822f86.png)

[2021-09-01 17:58] Liturgist commented on #153
5.1 = current "Windows PowerShell"
6.0+ = "PowerShell Core"

[2021-09-02 19:28] adityapatwardhan commented on #153
@reuvenab I see that the installation for PowerShell 7.1.4 was done from the Microsoft Store. If you can repro the issue consistently it would help root cause the issue if you could try the same scenario by installing 7.1.4 using a MSI.

The package can be found here: https://github.com/PowerShell/PowerShell/releases/download/v7.1.4/PowerShell-7.1.4-win-x64.msi
The instructions can be found here:

[2021-09-06 17:25] rashil2000 commented on #179
@anamnavi Would you please reopen this issue and close it _after_ it has been resolved?
Thanks!

[2021-09-10 01:39] bruckley opened #190 "PSGallery currently unavailable September 10 AEST"
![PSGallery fail](https://user-images.githubusercontent.com/90431072/132784623-9fca56c4-06c0-47d4-862f-6c39408dee93.JPG)
As you can see I have forced Tls12, but I keep getting the error above.
Is there an issue with PSGallery at the moment?

[2021-09-10 02:26] alerickson commented on #190
Can you run
`Invoke-WebRequest https://www.powershellgallery.com`
to see if we can establish a connection to the site?  I'm able to access it on my end, so I'd like to see if Invoke-WebRequest will work.

[2021-09-14 20:37] joshcampbell191 opened #191 "Unable to Contact Package Owner"
Sorry if this isn't the right place for this. I've tried reaching out via the contact form but haven't received a response.

It's not currently possible to submit the Contact Owners form due to a configuration issue with reCaptcha.

![image](https://user-images.githubusercontent.com/1784236/133330109-96d6593a-36a6-4bdc-9256-24733e5ad6cc.png)

[2021-09-16 18:38] StevenBucher98 commented on #191
Thank you @joshcampbell191, we are working on updating our deployment pipelines and hope to have it fixed by the end of the month.

[2021-09-17 02:18] whiter001 opened #192 "Unable to view the markdown description file, It will affect the search module"
![image](https://user-images.githubusercontent.com/19288411/133713010-bff3407d-db15-4ccc-b453-baacfa24ba26.png)

[2021-09-24 17:57] ppittle opened #193 "PowerShell Gallery Update Sept 22, 2021: Publish Impact?"
There's a status update on https://github.com/PowerShell/PowerShellGallery/blob/master/psgallery_status.md:

**Will this impact Publishing modules?**

I'm looking to publish a few hundred modules updates, will it be safe to do during the week of this migration?  Is there any point of the window that might be best to avoid publishing?

[2021-09-27 17:49] abatishchev commented on #153
I'm experiencing the same issue:

[code]

Popular workaround I found in Google did nothing:

[code]

Environment:

[code]

I installed PSCore from MSI.

[2021-09-29 07:01] BradleyFestraets opened #194 "Pipelines using Microsoft.Xrm.Data.Powershell 2.7.2 are failing"
Hi Team,

I have a pipeline using the Microsoft.Xrm.Data.Powershell 2.7.2 package calling the pac canvas unpack command.
It was working all well until today when I started to receive the below error.

Starting: unpack msapp files
==============================================================================
Task         : PowerShell
Description  : Run a PowerShell script on Linux, macOS, or Window

[2021-09-30 03:25] alerickson commented on #194
Hi @BradleyFestraets is the pipeline is able to retrieve the package? It seems like it's specifically unpack step that's failing, how exactly is that being called?

[2021-09-30 03:28] alerickson commented on #193
Hi @ppittle,  feel free to publish any time.  The migration process required creating some more resources than we expected so this will likely continue on through next (I'll update our status and banner to reflect this shortly).  Publishing at any point will be safe, and if for any reason we suspect that it would not be I will immediately update our website banner and status markdown here to expli

[2021-10-05 07:18] ppittle commented on #193
Sounds good, thanks for the clarification!

[2021-10-05 07:18] #193 closed

[2021-10-05 19:46] Saratoga6 opened #195 "unable to install-module AWS.Tools.IdentityManagement"
I am running Name  PSVersion      5.1.14393.4583     on win 2012 std edi. Al other module install /import fine
when I try install
 **Install-Module -Name AWS.Tools.IdentityManagement**
Returns
PackageManagement\Install-Package : Authenticode issuer 'CN="Amazon Web Services, Inc.", OU=SDKs and Tools, O="Amazon Web Services, Inc.", L=Seattle, S=Washington, C=US, SERIALNUMBER=4152954,
OID.1.3.6.1.4.1

[2021-10-08 23:15] Saratoga6 opened #196 "Install-Module AWS.Tools.IdentityManagement get some issue on certs?"
Hi I try to Install-Module AWS.Tools.IdentityManagement  ( and another module yesterday )  and it return the below. I suspect this is not 'my' problem , yes?

PackageManagement\Install-Package : Authenticode issuer 'CN="Amazon Web Services, Inc.", OU=SDKs and Tools, O="Amazon Web Services, Inc.", L=Seattle, S=Washington, C=US, SERIALNUMBER=sssss,
OID.1.3.6.1.4.1.311.60.2.1.2=Delaware, OID.1.3.6.1.

[2021-10-15 22:17] jwittner commented on #153
I just suffered from this same experience, but when I opened a new `pwsh` instance and ran the same command it worked fine. Previous terminal still reported the same error.

[2021-10-20 09:53] mtuit opened #198 "Get-PSGalleryApiAvailability : PowerShell Gallery is currently unavailable. Please try again later."
Hi, PS Gallery seems to be unavailable for me.

Same as  #185 and #166 I believe.

![image](https://user-images.githubusercontent.com/19615263/138071508-8633e2ff-144f-44ef-8d93-310aa50074e4.png)

[2021-10-20 17:01] klementi commented on #195
This issue is announced/explained here https://github.com/aws/aws-tools-for-powershell/issues/232, sorry for the inconvenience

[2021-10-22 14:53] brianwhited opened #199 "Statistics not updated since December 4, 2020 inadvertently showing bad information on powershellgallery.com"
The statistics page at https://www.powershellgallery.com/stats has not been updated since December 4, 2020. These  same statistics are used on the main page of the Powershell Gallery at https://www.powershellgallery.com/ to display  the top package downloads for the last 6 weeks.

[2021-10-27 05:30] singerdjq007 opened #200 "unable to import exchangepowershell module in the azure automation account"
Hi,

I got exchangepowershell module import issue in the azure automation account. Error message below:

Error importing the module ExchangePowerShell. Import failed with the following error: Orchestrator.Shared.AsyncModuleImport.ModuleImportException: While importing the module, an error occurred while processing the module content. Internal error message: Exchange Server system variable Exchange

[2021-11-04 18:26] #200 closed

[2021-11-04 18:27] StevenBucher98 commented on #177
@Akaizoku We are still working on this, we hope to have a fix for this in the coming weeks.

[2021-11-04 18:27] #196 closed

[2021-11-04 18:27] #195 closed

[2021-11-04 18:28] StevenBucher98 commented on #198
Are you still having this issue @mtuit?

[2021-11-06 12:08] rashil2000 opened #201 "Re: Query regarding package ownership"
Hi!

I sent a mail to PSGallery support 4 months ago, and got no response. I had CC'd the mail to myself too, and I am pasting the mail verbatim here, hoping to get some resolution.

I previously opened an issue here to get help - #179, but it was closed without and before any response.

[2021-11-08 17:19] realslacker opened #202 "Error 500 - Internal Server Error"

[2021-11-09 22:11] SydneyhSmith commented on #202
Thanks @realslacker could you please email cgadmin@microsoft.com with this request? Then we can go ahead and make sure it is updated for you...thanks!

[2021-11-09 22:15] SydneyhSmith commented on #201
Thanks @rashil2000 we will need permission from a current package owner in order to make the change...apologies for closing out your previous issue before this was resolved.

[2021-11-10 06:15] rashil2000 commented on #201
Thank you for the reply @SydneyhSmith

Some additional context (pasting from #179):
Our package versioning starts from 2.0.0, so it won't cause any conflicts as the last published (by Yahhms) version of winfetch script on PSGallery (which was more than 2 years ago) is 1.0.0

I would like to ask one thing: what is the period for which you wait till the original package owner responds? (they might n

[2021-11-13 01:54] jshield opened #203 "Gallery Down again"
Really guys, Certificate issues again?

Looks like a self signed CA root certificate for testing to me

[2021-11-13 02:07] chris-peterson commented on #203
does indeed look like a dev cert made it to production.

blocking all activity, uploading packages, browsing, or even reporting issues.

[code]

[2021-11-13 05:21] chris-peterson commented on #203
This appears to have been fixed.  Cert shows valid again (chain to Azure -> DigiCert)

<img width="836" alt="image" src="https://user-images.githubusercontent.com/1980791/141606745-9482487d-a774-4772-b274-0c28e98f6391.png">

Was also able to [publish a package](https://www.powershellgallery.com/packages/GitlabCli/1.19.1) that was [previously erroring out](https://github.com/chris-peterson/pwsh-git

[2021-11-16 20:16] #191 closed

[2021-11-16 20:17] alerickson commented on #191
This issue is resolved now

[2021-11-17 19:13] sdwheeler opened #204 "Email coming from the Gallery is not formatted properly"
Email coming from the Gallery is not formatted properly, or is formatted in a way that gets mangled in transit.

I recently needed to contact a package owner. Here is the copy of the email I received. It looks like there is a mix of markdown and html here and neither is being rendered properly.

[code]

[2021-11-17 19:21] sdwheeler commented on #204
I just published an update to a module and received the following email:

[code]

[2021-11-21 07:50] kasini3000 commented on #164
Can you consider providing an official rsync repo?
With the official rsync repo, it is convenient for mirrors to build galleries all over the world

[2021-11-22 22:08] coryburdit opened #205 "PowerShell Gallery is currently unavailable. Please try again later."
Currently getting the below when trying to run Update-Module.

Get-PSGalleryApiAvailability : PowerShell Gallery is currently unavailable.  Please try again later.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:2038 char:13
+             Get-PSGalleryApiAvailability -Repository (Get-SourceName  ...
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-11-29 17:24] Jaykul opened #206 "Why don't we have repo-signing?"
It seems that while nuget has added various ways of validating content, PowerShell is stuck with just code and cab signing mechanisms _that rely on authors_ -- and very, very few authors are signing.

Specifically, Nuget hashes and provides hash files, and does repo-signing (and counter-signs pre-signed packages).

https://github.com/NuGet/Home/wiki/Nupkg-Metadata-File
https://devblogs.microsoft.c

[2021-12-02 16:50] wagde-orca opened #207 "api that is used in kbupdate 1.0.12 is dead"
in the https://www.powershellgallery.com/packages/kbupdate/1.0.12/Content/public%5CGet-KbUpdate.ps1 there is access to "https://support.microsoft.com/app/content/api/content/help/en-us/$kb"
and it seems microsoft moved/removed this api.

[2021-12-06 21:44] Robulane commented on #171
Same here today, extremely slow

[2021-12-08 17:26] dchasman commented on #171
Same here

[2021-12-09 08:38] stinos commented on #153
Same here but with PS5 running in ISE. "Have you tried turning it off and on again?" Yes, works!

[2021-12-09 18:33] rdelcampog commented on #171
Same here :(

[2021-12-19 17:25] o-l-a-v commented on #207
How is that a PowerShellGallery issue? It's probably better to ask the module author instead, "Chrissy LeMaire".

* https://www.powershellgallery.com/packages/kbupdate/1.1.22/ContactOwners

[2021-12-20 14:54] mikenelson-io opened #208 "Not able to alter Copyright shown on package page"
The Copyright date shown on the package page is not being changed when a new package is uploaded. The PSD1 file contains a new copyright date. There is no way to modify this date within the web page itself.
How does one update this date?
![2021-12-20_08-52-33](https://user-images.githubusercontent.com/6254544/146786425-d2156614-5e7e-40d3-9e38-6926b4594454.png)

[2021-12-20 15:02] #208 closed

[2021-12-21 11:49] susrutpatnaik commented on #165
Hi @anamnavi ,

I'm trying to run a set of PowerShell commands to install few artifacts like Maps & Schemas via Self-Hosted Runner in GitHub Actions. So, came across this error and thought to troubleshoot in the advised way

First run:

Invoke-WebRequest "https://www.powershellgallery.com/packages/PowerShellGet/2.2.5"

Most of the times getting an error Connection refused or time out

Error: Proce

[2021-12-23 14:27] SBALA4785 commented on #205
I have fixed mine with below ref,

https://dev.to/darksmile92/powershell-disabled-support-for-tls-1-0-for-the-gallery-update-module-and-install-module-broken-1oii

[2021-12-29 11:25] sqlenders opened #209 "The variable '$script:PSGetModuleSourcesFilePath' cannot be retrieved because it has not been set."
I got this error :

The variable '$script:PSGetModuleSourcesFilePath' cannot be retrieved because it has not been set.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\2.2.5\PSModule.psm1:6447

What should I do ?

[2022-01-06 13:58] EA12 opened #210 "Using in Azure Runbook"
Question:

We have an Azure App Registration (with Service Principle) and run a PowerShell-Script from a Azure RunBook to sync users from AAD to SharePoint User Profile Store. The App has approved consent to read users by graph from aad and read/write to SharePoint User-Profiles. PnP Management Shell has the same approved consent.

We connect to PnP-Online with ClientId and certificate

`Connect-P

[2022-01-06 14:51] axel-dd commented on #171
Still extremely slow. Is there any solution in the pipeline? This problem has existed for months.

![image](https://user-images.githubusercontent.com/6698567/148401572-fe493614-cef9-41e2-a61e-7915aa673214.png)

[2022-01-06 17:47] SQLCanuck commented on #171
Having the horrible performance issues now as well.  Given this is backed by Microsoft, is this not using Azure auto scale features to avoid such problems???

[2022-01-11 16:07] monken commented on #171
It's been really bad as of late. Any plans for improvements? Since version 7.0.0, I now download and install through the released bundle from github:

[code]

[2022-01-11 20:05] axel-dd commented on #171
@monken Thanks for sharing your workaround. I also use it now.

[2022-01-11 22:17] SteveL-MSFT commented on #3
A customer recently brought this up.  Basically they publish a set of modules to PSGallery all with the same version.  They don't want users to download mixed versions of the modules.  Ideally, they would want to publish them unlisted and have a way to flip a set of modules to be listed at once to make them public.

[2022-01-16 10:00] potatoqualitee opened #211 "Gallery is back to being terribly slow"
23 second load for the website on my test. save-module for dbatools takes over 1 minute

[2022-01-24 23:13] jborean93 opened #212 "File Preview line numbers don't line up"
At least on Firefox I've found that the line numbers in a file preview do not line up with the lines in the file. For example it's hard to tell if this is line 81 or 82.

![image](https://user-images.githubusercontent.com/8462645/150880516-5e387572-3756-46ee-a660-92fafd361abd.png)

[2022-02-02 21:09] ghousebaig7in opened #213 "PowerShell Gallery is currently unavailable. Please try again later."
Hi Team,

Currently, getting the below error while running the command 'Set-PSRepository -Name "PSGallery" -InstallationPolicy Trusted'.

Get-PSGalleryApiAvailability : PowerShell Gallery is currently unavailable.  Please try again later.
At C:\Program Files (x86)\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:4264 char:9
+         Get-PSGalleryApiAvailability -Repository $Name
+

[2022-02-02 23:10] alerickson commented on #213
Hi, are you using TLS version 1.2?
Try running `[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12 `
and then running `Get-PSGalleryApiAvailability -Repository $Name`

for more info see: https://devblogs.microsoft.com/powershell/powershell-gallery-tls-support/

[2022-02-03 04:27] ghousebaig7in commented on #213
@alerickson, thanks for your reply. Yes, I did used TLS 1.2 and ran the command that you suggested. But didnt help 😞

[2022-02-08 14:14] v-karbovnichy opened #214 "Cannot download or install CosmosDB v4.5.0 package (ERR_CONNECTION_TIMED_OUT)"
When I try to invoke `Install-Module -Name CosmosDB`, I get this error:
[code]

When I try to manually go that URL, it redirects to https://psg-prod-eastus.azureedge.net/packages/cosmosdb.4.5.0.nupkg, which returns `ERR_CONNECTION_TIMED_OUT`.

Another way to get the same result:
* navigate to https://www.powershellgallery.com/packages/CosmosDB/4.5.0
* switch to "Manual Download" tab
* click the "D

[2022-02-09 13:12] gautamdsheth commented on #171
Hello, is there any progress on this issue ?  Has been quite bad nowadays.
Took 50 mins today

![image](https://user-images.githubusercontent.com/8832018/153207884-b7c93148-5b5b-4679-9f43-9c41b42cb771.png)

[2022-02-10 13:06] #214 closed

[2022-02-10 16:25] ekdegerman commented on #171
We have the same issue when trying to install the Az module in hosted jobs running on windows-latest (still Windows Server 2019 so far) in Azure pipelines. Seems downloading it from github instead as @monken suggested makes it a lot more reliable so we'll be using that workaround at least until there is a resolution here.

[2022-02-10 19:51] StevenBucher98 commented on #213
Are you still having this issue @ghousebaig7in? If so can you include more details on your PowerShell version?

[2022-02-15 16:36] ora19982022 commented on #209
I got the same issue, seems like the permission issue, but did not fix it yet.

[2022-02-15 23:12] davesbrown commented on #213
same issue, using TLS 1.2 and powershell 5.1

[2022-02-16 13:37] nzh10 commented on #171
Have same issue here. The downloading speed is extremely slow, and does not have any output... I can't even provide debugging information for diagnosis :(

[2022-02-17 23:51] boblodgett opened #215 "Publishing to PowerShell Gallery is running slowly"
Publishing to PowerShell gallery is running slowly today and timing out on some larger packages:

Failed to publish module 'AWSPowerShell.NetCore': 'nuget.exe failed to push A task was canceled.
    Pushing took too long. You can change the default timeout of 300 seconds by using the -Timeout <seconds> option with the push command.
  '

Finding packages / loading from PowerShell Gallery is also pe

[2022-02-18 22:07] vpopescu commented on #124
![image](https://user-images.githubusercontent.com/7304633/154767670-d1380f3f-0f0b-4121-9c43-c274b4c2b25c.png)

Today is 2/18/2022.

Just saying, Microsoft.

[2022-02-19 00:01] brianary commented on #153
Same issue

[code]

[2022-02-22 12:41] soundd2 opened #216 "Error===>No repository name with powershell gallery"
No repository name with powershell gallery
Please help, PFA
![image](https://user-images.githubusercontent.com/94822959/155134360-e7f0aed7-f06a-4ef9-bb1f-c57741d2e249.png)

[2022-02-24 15:44] archonandrewhunt commented on #171
Having this issue today, let it run for 30+ minutes before giving up

[2022-02-25 01:29] boblodgett opened #217 "Publish-Module failing for 4 part version with a trailing .0"
Starting today we are getting the following publish error:

`Failed to publish module 'AWSPowerShell': 'nuget.exe failed to push Response status code does not indicate success: 400 (The package is invalid. The error encountered was:'Nuspec version 4.1.31 and PowerShell module manifest 4.1.31.0 version are mismatched'. Correct the error and try again.).
`

The versions are the same and we have alwa

[2022-02-26 11:24] floh96 commented on #217
cc @alerickson

[2022-03-03 23:30] petrsnd commented on #217
I have been publishing a PowerShell module for several years now.  My method for publishing "-pre" tagged prerelease modules between released versions has worked until just recently when my pipeline began failing.  Publish-Module is failing to publish if I have a prerelease tag with this mismatch message.

I believe a bug has been introduced, because my module definition conforms to the guidance h

[2022-03-07 19:13] SydneyhSmith commented on #217
Thank you both for posting this issue and for calling attention to this! Also apologies for the delay in response-- appreciate the patience!

@petrsnd if you update your script to  `Prerelease = 'pre'` (ie take out the "-") it should publish okay, I will update the docs to make sure this is more clear....this has actually always been the intention but it looks like we had a longstanding bug which

[2022-03-08 05:22] BethanyZhou commented on #217
Hi @SydneyhSmith ,  I met this issue as well. Error message is as below:

NuGet Version: 4.7.1.5393
Pushing Az.Storage.4.3.1-preview.nupkg to 'https://www.poshtestgallery.com/api/v2/package/'...
  PUT https://www.poshtestgallery.com/api/v2/package/
  BadRequest https://www.poshtestgallery.com/api/v2/package/ 6624ms
Response status code does not indicate success: 400 (The package is invalid. The er

[2022-03-08 23:34] boblodgett commented on #217
@SydneyhSmith It looks like today the PowerShell Gallery team has tried a fix but it broke normal 3 digit version publishing?

We are now getting this error from using normal 3 digit versions:

`
Publishing C:\codebuild\tmp\output\src214205391\src\PRIVATE-aws-tools-for-powershell-staging\Deployment\AWSPowerShell
--
196 | Failed to publish module 'AWSPowerShell': 'nuget.exe failed to push Response

[2022-03-09 00:46] peombwa commented on #217
Hi @SydneyhSmith, Microsoft Graph PowerShell SDK team is also encountering this error when publishing to https://www.powershellgallery.com/api/v2/package/.

[code]

[2022-03-09 15:53] SydneyhSmith commented on #217
Apologies for all of the issues-- we are working to resolve this bug ASAP

[2022-03-09 17:11] jformacek commented on #217
Having same problem with 3 digit version of module. Did not find workaround so far. Thanks for fixing ASAP.

[2022-03-10 15:53] anamnavi commented on #217
This bug with versioning is now fixed. Thanks for everyone's patience on this and sorry for any inconvenience it caused! 3 digit and 4 digit versions both work, and prerelease versions when you specify the prelease value shouldn't contain "-" in the string (as per @SydneyhSmith comment above). We are updating the docs asap too. Please let us know if any issue is still faced wrt to this. Thanks :)

[2022-03-10 19:27] #217 closed

[2022-03-11 09:16] neman commented on #171
Extreme slow installation. I gave up and used `choco install az.powershell`

[2022-03-14 03:38] ctownshend opened #218 "nuget protocol v3"
Currently powershellgallery only provides a nuget v2 endpoint. Do you have plans to support v3 in the future? Microsoft has announced that v2 is deprecated.
https://www.powershellgallery.com/api/v2

https://docs.microsoft.com/en-us/nuget/nuget-org/overview-nuget-org

[2022-03-16 03:48] soloji opened #219 "Powershell test environment offline?"
I am unable to reach the test powershell gallery, I am located South East Australia

Is this an expected outage or permanent decommissioning of the  test environment? I use it because it has the Linux AzureAD modules available that I use in my pipelines.
We are working to migrate to MsGraph but still need need that preview package.

I have tried navigating to  https://www.poshtestgallery.com with

[2022-03-16 15:22] daojah commented on #171
Same issue today

[2022-03-16 15:44] bjh1977 commented on #171
Me too

[2022-03-16 17:51] alerickson commented on #219
Hello all, we are aware that the test site is down.  Just as a note, poshtestgallery.com is a test site for the Gallery, not for packages or users.  This is where we test changes and experiment before deploying to powershellgallery.com. This website and the packages on this site are not meant for production.  We have a banner on poshtestgallery to explain this, but unfortunately sometimes package

[2022-03-16 20:21] soloji commented on #219
An AzureAD module that works fully on Linux is a long running issue and this module has been the only module that has all the features that Linux users require, it sadly isn't available on the main production powershell site.

if this package was in the production gallery I would move off the test environment immediately.

https://web.archive.org/web/20201128130803/https://www.poshtestgallery.com/

[2022-03-17 13:19] SeidChr commented on #219
As i needed the module myself, i have extracted it from the azure cloud shell.
Hope it doesn't break any rules to post this here.
If so, feel free to remove the file.
[azureadcore.zip](https://github.com/PowerShell/PowerShellGallery/files/8286263/azureadcore.zip)

To obtain it yourself, use the following commands in your cloud-shell:
[code]
note that the destination should be in your clouddrive fo

[2022-03-19 21:21] mtsuit commented on #165
I am having the same issue as @AdamSheltz and here is the output from the commands you suggested to run:

![image](https://user-images.githubusercontent.com/101951425/159138724-f6c8673d-b83c-46ba-b453-fce3eba6470a.png)

Any help appreciated!

[2022-03-23 17:42] pari205 commented on #171
Same issue, the following command hangs, any solution?
Install-Module -Name Az -AllowClobber -Force

[2022-03-23 18:57] heathhile opened #220 "Gallery is dog slow, is it just me?"

[2022-03-23 19:14] daojah commented on #171
Just wait)  It's helped me

[2022-03-23 19:33] gcmlpfaltaher commented on #220
slow for me as well downloading Az modules

[2022-03-23 20:39] heathhile commented on #220
that's exactly what I'm seeing also. thanks

[2022-03-23 21:00] achechen commented on #220
Having the same issue. Trying to install Az module its been an hour now and its counting.
Verbose mode outputs similar to below entries every minute or so:

`VERBOSE: Searching repository 'https://www.powershellgallery.com/api/v2/FindPackagesById()?id='Az.AppConfiguration'' for ''.`

[2022-03-24 00:21] boblodgett commented on #220
It is very slow and timing out. Ticket I updated this morning on it:

https://github.com/PowerShell/PowerShellGallery/issues/215

Getting publish timeouts as well:

[code]

[2022-03-24 05:49] aroramaxus commented on #171
Same issue. taking circa 50 mins. I have tried the following as recommended:

Write-Output ==^> Install latest NuGet
Install-PackageProvider NuGet -Force

Write-Output ==^> Set PowerShell Gallery to Trusted
Set-PSRepository -Name PSGallery -InstallationPolicy Trusted

Write-Output ==^> Install latest PowerShellGet
# *PowerShellGet* also updates its dependency *PackageManagement*
Install-Module Pow

[2022-03-25 09:54] SwimmeRM commented on #153
Just adding this comment to confirm that I too experienced same message described above (N.B. always shown as a WARNING : ...) but in very different configuration (Windows 7 SP1 Ultimate x64 obviously with PowerShell 5.1) and here are some more details of my system status when I initially experienced issue:
<details><summary> Click here if interested to see such test details </summary>
<p>
PS C:\W

[2022-03-25 15:10] boblodgett opened #221 "[PowerShell Gallery] Package published - * emails no longer being sent"
Starting 3/11/2022 the PowerShell gallery package published emails are no longer being sent. The last email we received was on 3/10. Typically they are sent from cgadmin@microsoft.com but it appears they have stopped immediately after the versioning issue was fixed here: https://github.com/PowerShell/PowerShellGallery/issues/217

The body of the emails look like this:

`The package [AWS.Tools.Tran

[2022-03-28 13:20] alerickson commented on #165
@mtsuit  I'm not sure why `Invoke-WebRequest` is giving you that error as all of our certs look okay.  Are you still encountering this issue with that particular cmdlet?  Are you having this issue with any other machine connected to the same network?

It also looks like 'PSGallery' is not registered on your system.  Can you run `Register-PSRepository -Default` and then run `Get-PSRepository`, then

[2022-03-29 01:58] mtsuit commented on #165
Hi @alerickson, yes I am still encountering this issue. I believe it is because I am running this on WSL (Windows Subsystem for Linux) but not sure why. Here is what I get from your latest commands:

![image](https://user-images.githubusercontent.com/101951425/160517196-cdcfdb9f-7b6c-433d-a60d-9f1421dfe7d2.png)

[2022-03-29 02:04] alerickson commented on #165
@mtsuit can you run `gmo powershellget -listavailable`, then `$env:PSModulePath` and then `Register-PSRepository -Default -Verbose -Debug`?

[2022-03-29 02:06] mtsuit commented on #165
@alerickson here ya go:

![image](https://user-images.githubusercontent.com/101951425/160518084-85cc7692-9ad8-4997-8118-105bc687bd0b.png)

[2022-03-29 02:30] alerickson commented on #165
Do you get the same cert error if you run `invoke-webrequest nuget.org`?

[2022-03-29 02:32] mtsuit commented on #165
Nope:

PS /home/psi124> invoke-webrequest nuget.org

StatusCode        : 200
StatusDescription : OK

[2022-03-29 09:03] svaenn commented on #220
Is it just me, was the issue resolved at some point or is this going on for 6 days?
Install-Module (on an azure VM) takes ages at the moment.

[2022-03-29 15:08] boblodgett commented on #220
Our monitor reported slow Find-Module times between 5:15 UTC - 8:15 UTC today. It looks green since that time.

[2022-03-31 18:29] SydneyhSmith commented on #221
Thanks so much for the issue (and all the issues really!) we are investigating this

[2022-04-04 10:33] kamilgajek commented on #165
Hi
I have a similar problem and the executed commands produce a similar output. Has anyone managed to solve this problem?

[2022-04-05 14:08] mkozikowsk opened #222 "No packages in the Azure dependencies tab"
For the Azure package version 5.3.1, the entries in the dependencies tab are missing.
https://www.powershellgallery.com/packages/Azure/5.3.1
![image](https://user-images.githubusercontent.com/24301646/161772630-730fae94-021a-4b5d-b675-57eb4d3dcc9a.png)

Looking at previous versions there should be an entry for Azure.Storage.
I am using a script that uses these entries on the site, can I ask you to

[2022-04-05 16:32] sameer-kumar opened #223 "PowerShell Gallery is currently unavailable - AGAIN"
Our Azure DevOps pipelines are failing while installing modules from POSH gallery. This all started this morning 04/05/22.

Here is the error from pipeline task:
`System.Management.Automation.RuntimeException: PowerShell Gallery is currently unavailable. Please try again later.`

TLS1.2 is already configured in the task:
`[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Ss

[2022-04-07 18:10] SydneyhSmith commented on #222
Thanks for opening this issue @mkozikowsk we are able to reproduce this bug and are investigating it

[2022-04-07 18:12] SydneyhSmith commented on #223
Thanks for opening this issue @sameer-kumar our monitoring didnt indicate an outage at this time, although we are doing more investigation, are you still experiencing this issue?

[2022-04-11 15:16] sameer-kumar commented on #223
Its disappeared now. Nothing changed in our pipelines. I don't know what was the issue.

[2022-04-12 16:09] jeff-simeon commented on #219
AzureAD.Standard.Preview is used by tens of thousands of users in production (including by Microsoft itself) and this is the only place to install it from

[2022-04-15 14:59] choukimasri commented on #153
Here's a way faster workaround when Install Module or Search API fails:
[code]
Usage Example
[code]

[2022-04-18 13:59] sameer-kumar commented on #223
Its happening again. Last error noted on 04/14/22. Following failed attempts:
1. 6:15 pm
2. 6:30 pm
3. 7:25 pm
*All times are in eastern time zone.*

[2022-04-19 13:02] nexxuno commented on #171
Having the same problem, any news @alerickson  ? almost a year now

[2022-04-20 20:16] smflorentino commented on #171
I had the same issue and updated NuGet from 5.9 to 6.1. That helped a lot:
`nuget update -self`

[2022-04-21 19:23] SydneyhSmith commented on #223
Thanks for the info, wanted to update you that this is not showing in our monitoring so we are investigating what could be happening

[2022-04-22 15:09] J0F3 opened #225 "PowerShell Gallery is very slow"
[powershellgallery.com](http://powershellgallery.com/) responses very slow and also installing modules takes approximately three times longer or more that normal.

Experience the same problem from different location / internet connections and it seems getting worse than better.

[2022-04-22 19:12] Veradux21 commented on #225
Same, site seems to be totally unavailable, and then intermittently comes back.
Also getting:
`Get-PSGalleryApiAvailability : PowerShell Gallery is currently unavailable.  Please try again later.`

[2022-04-26 19:32] kevinholtkamp commented on #225
+1
lately it has been very slow and occasionally unavailable

[2022-04-27 13:23] robinmalik commented on #225
+1. Today it took well over an hour for an attempted install of `VMware.PowerCLI` to terminate and tell me I needed to run it with `-AllowClobber`.  Even just trying to install the `MicrosoftTeams` module took about 5 minutes.

[2022-04-27 13:28] robinmalik commented on #205
Is anyone at Microsoft reviewing these issues? Why would there be an open issue from November 2021, 5 months ago, referencing a temporary unavailability issue? (there have been many others of the same problem, since then)!

[2022-04-27 14:32] SydneyhSmith commented on #225
Thanks everyone for the reports! We are investigating this issue... please feel free to continue to provide us with reports (time stamps for lack of availability are also helpful) as convenient to you

[2022-04-27 15:50] coryburdit commented on #205
Let's just say I got it fixed but don't remember what I did to fix it. I don't know if anyone at Microsoft is looking t these issues.

[2022-04-27 15:50] #205 closed

[2022-04-27 18:38] KirkH420 commented on #225
Noticeably slow.

[2022-04-28 10:58] o-l-a-v commented on #225
API for checking available packages and versions are super slow now. From Norway. Each request takes about 10-15 seconds to complete, with following code:

[code]

Usually it takes less than a second.

[2022-04-28 13:21] Bv-Lucas commented on #171
Hello guys

It's been almost a year and still seems to be a recurring issue. Sometimes run below 10m, sometimes takes more than 1 hour !!!! And it happens very often.

Just to install ps az module, honestly this is not acceptable, I'm reaching azure devops pipeline timeout randomly due to this slowness on a build that supposedly takes lower than 10minutes

I just can't rely on PS Gallery when a ta

[2022-04-28 13:41] potatoqualitee commented on #225
The gallery is unusable today. It's taking 3 minutes to find a module.

![image](https://user-images.githubusercontent.com/8278033/165764614-3cb80362-7ee6-4ff7-9a0b-4dd547392099.png)

And it's impossible to publish a new version of dbatools even with `$PSDefaultParameterValues["*:Timeout"] = 1200 # 20 minutes`

[code]

[2022-04-28 13:42] Bv-Lucas commented on #171
I always run it with verbose, apart from seeing every package taking ages to download it doesn't make any difference to me :/

[2022-04-28 14:54] jwyza-pi commented on #225
I just tried to install the AZ modules, and after almost an hour of waiting for it to find all the packages, it then failed with an error asking to allow clobber.  :(

[2022-04-29 19:12] jeremyguthrie commented on #225
Just reporting it is still pretty bad today.  13 minutes to install az one time, currently at 40 minutes and not done searching to even install yet.

[2022-04-29 19:38] ajacks88 commented on #171
Running into this issue today. We install the az module as a part of some of our builds and for those its sometimes taking quite a long time/breaking the deployment if it takes too long.

[2022-05-01 02:51] psyrus commented on #171
We gave up on the PSGallery as a reliable source especially for the larger AZ modules.

Hopefully our workaround can help anyone considering alternatives. We first tried with the Azure Artifacts Repo from ADO but hilariously that is also spotty (it will just fail the pipeline 1/20 times roughly). Ended up going with an Azure Storage Account.

[code]

[2022-05-02 15:24] SydneyhSmith commented on #225
Wanted to just add that we are actively investigating the root cause and have been making adjustments to improve the availability over the last few days and hope to have more updates soon.... appreciate the patience with the unsatisfying update

[2022-05-03 11:29] soundd2 opened #226 "Build pipeline is failing with No repository found"
I tried to build pipeline but it is failing with following error
![image](https://user-images.githubusercontent.com/94822959/166445069-5aac931b-ba44-437c-94a1-dfead58d2d88.png)
I tried to troubleshoot with following commands mentioned in the below screenshot. Please help
![image](https://user-images.githubusercontent.com/94822959/166445142-cb9e10b3-995d-486f-9956-754cf4fa7638.png)

Logs:
![image](

[2022-05-03 12:51] R3ality commented on #150
Confirming that this issue is still valid as the link referenced in https://github.com/PowerShell/PowerShellGallery/issues/150#issue-778179320 above appears to be unchanged

Furthermore, the "FAQs" link in the footer of any and all PSGallery pages also results in the same "404 - Page not found".
![image](https://user-images.githubusercontent.com/762122/166455230-98f2c644-a2bb-4e72-a7d3-c627c498a3d

[2022-05-03 16:31] SydneyhSmith commented on #150
Just fixed this let me know if you are still hitting it

[2022-05-03 16:31] #150 closed

[2022-05-03 16:38] SydneyhSmith commented on #225
We deployed an update last night which we believe should have resulted in a significant performance improvement based on our monitoring....are folks seeing any improvement today?

[2022-05-03 17:01] o-l-a-v commented on #225
Seems the PowerShellGallery API responds much faster now at least. :) Even better than before this incident.

[2022-05-04 18:49] rgroefer commented on #165
I have a similar problem as well, though only from WSL.  Working from my Windows 10 side of things it is all fine.

Windows Side (working):
![image](https://user-images.githubusercontent.com/35051290/166805039-0f36aa5e-495c-4cd1-a4e0-c9d6c5143a96.png)

WSL Side (failing):

![image](https://user-images.githubusercontent.com/35051290/166803295-4b8d91b2-77b7-44c1-b133-77ce4826b1aa.png)

![image](http

[2022-05-04 18:54] vinceungaro commented on #165
My issue is on WSL too so it must be something funky with WSL.

[2022-05-05 11:24] robinmalik commented on #225
Thanks for the update @SydneyhSmith. Looking better than 5 minutes now:

[code]

[2022-05-05 17:19] Jersi132 commented on #221
Is this issue affecting all emails coming from PowerShell Gallery? I have published some modules and attempted to use the "Contact Owners" link, however I never received any emails (including the "send a copy to myself").

[2022-05-05 19:30] SydneyhSmith commented on #221
Thanks @Jersi132 we are still working on getting this fix out, in the meantime for support please contact [cgadmin@microsoft.com](mailto:cgadmin@microsoft.com) directly, thanks for the patience on this

[2022-05-05 19:31] SydneyhSmith commented on #225
Thanks everyone, going to close this as mitigated for now, please re-open if you are still hitting this issue (we are continuing to invest in performance improvements on the Gallery and Get sides)

[2022-05-05 19:31] #225 closed

[2022-05-05 19:34] SydneyhSmith commented on #165
Thanks everyone, do the instructions here help? [When PowerShellGet v1 fails to install the NuGet Provider - PowerShell Team (microsoft.com)](https://devblogs.microsoft.com/powershell/when-powershellget-v1-fails-to-install-the-nuget-provider/)

[2022-05-05 19:39] SydneyhSmith commented on #226
@soundd2 thanks for opening this issue, what happens when you run `Get-PSRepository`?

[2022-05-05 19:44] SydneyhSmith commented on #171
We made a recent update to the Gallery, are folks seeing any improvements in installation times for Az? Thanks!

[2022-05-06 16:34] Jersi132 commented on #221
Thanks for your reply, I was only worried that people might be trying to use the "Contact Owners" link to leave feedback.

[2022-05-11 10:51] Pixa1 opened #227 "Get-AzureADMSConditionalAccessPolicy throws an error"
[code]

[2022-05-11 10:55] Pixa1 commented on #227
Closing - Opened in wrong  project

[2022-05-11 10:55] #227 closed

[2022-05-12 12:06] nexxuno commented on #171
Our pipeline (that uses Az-install in multiple places) went from 3hours to 13minutes, it was either a lucky run or your fix worked. Thanks.

[2022-05-13 13:06] adjackouk opened #228 "# Get the hash (if available) issue getting hash file from Dynabook A40"
I have 20 Dynabook A40's, 18 of them have retrieved the hash file with no issues, 2 of them give me the below error when running

****_$devDetail = (Get-CimInstance -CimSession $session -Namespace root/cimv2/mdm/dmmap -Class MDM_DevDetail_Ext01 -Filter "InstanceID='Ext' AND ParentID='./DevDetail'")_****

I get this message on the devices ;

**_Get-CimInstance : A general error occurred that is not

[2022-05-16 13:33] Robert-Azelis commented on #228
It looks on global problem for Windows 10 registration via Autopilot, after install **KB5013942 - 2022-05 Cumulative Update for Windows 10 Version 21H2**.
At this moment, only on solution is uninstall this KB via command **wusa.exe /uninstall /KB:5013942**.
If device is enrolled (registered in Intune) then you can update device.

For Windows 11 problem doesn't exist, even if KB 2022-05 is installe

[2022-05-17 12:19] NOLA-StsFan commented on #228
@Robert-Azelis -
Removing **KB5013942**, **Security Update for Microsoft**, worked for me.  Another post referenced KB5011831 but it wasn't installed.  Thanks!

[2022-05-19 18:16] #228 closed

[2022-05-23 17:19] egraff commented on #219
[This comment](https://github.com/PowerShell/PowerShell/issues/17019#issuecomment-1079483836) states that:

If that is the case, then Microsoft really should make the AzureAD.Standard.Preview module available elsewhere.

[2022-05-24 13:26] balmer40 commented on #219
Is there anywhere else we can get AzureAD.Standard.Preview module from? The test site is still down

[2022-05-26 18:41] anamnavi commented on #219
We'll reach out to the AzureAD.Standard.Preview module owners and ask them to publish it to powershellgallery.com.

[2022-05-27 13:12] SleepTheGod opened #229 "500 Internal Server Error"
Lin : https://www.powershellgallery.com/Errors/500?aspxerrorpath=/%3Cscript%3Ealert(%22SleepTheGod%22);%3C/script%3E
Below is the view-source: of the above page
`<html>
<body>

<!DOCTYPE html>
  | <html lang="en">
  | <head>
  | <meta charset="utf-8" />
  | <meta http-equiv="X-UA-Compatible" content="IE=edge">
  | <meta name="viewport" content="width=device-width, initial-scale=1">
  |  
  |  
  |

[2022-05-27 22:43] smflorentino commented on #145
This worked for me after installing the latest PowerShellGet Beta ([here](https://devblogs.microsoft.com/powershell/powershellget-3-0-preview-12-release/)). Note that the cmdlet names changed, now use `Uninstall-PSResource`

[2022-05-31 22:36] InformTechPro opened #230 "Customer notification options when new module version released."
Customer is asking for an option to receive notification(s) when a beta module version released to the general availability (GA). E.g. https://www.powershellgallery.com/packages/PSDesiredStateConfiguration/2.0.5

[2022-06-02 15:42] gurnec opened #231 "https://www.poshtestgallery.com/ is currently timing out"
I've tried connecting from multiple U.S. locations, and it's timing out on the initial TCP connect (no response to SYNs). It successfully resolves to `20.106.248.71`.

[2022-06-02 19:17] SydneyhSmith commented on #229
Thanks @SleepTheGod could you please provide additional information about the issue you were having/what you were expecting?

[2022-06-02 19:18] SydneyhSmith commented on #230
Thanks @InformTechPro that is a valid request that we are considering

[2022-06-02 19:19] SydneyhSmith commented on #231
The poshtestgallery is a test gallery for the PowerShell Gallery deployments, and is no longer available externally due to a change in policy

[2022-06-02 19:53] gurnec commented on #231
OK, thank you for the answer.

[2022-06-02 19:53] #231 closed

[2022-06-09 18:29] SydneyhSmith commented on #219
Unfortunately the original module owners are not interested in owning/supporting this module on the Gallery, with the guidance of using Graph...I can imagine that is frustrating for folks who need the module...I did see that someone published the zip above for use

[2022-06-09 18:29] #219 closed

[2022-06-13 01:33] eosho commented on #171
This is still an issue for me. I am running an image build pipeline that installs some prerequisite modules. Without the Az module, my pipeline takes ~30 mins and with the AZ module almost ~2 hours.

I am running this via Microsoft hosted agent in ADO.

[2022-06-14 16:42] INuvanda commented on #171
I am experiencing the same issue.

[2022-06-14 17:46] jbolduan commented on #223
It appears to be offline hard right now, website is down and unable to publish a module using our Azure DevOps pipeline.

[2022-06-14 18:28] SydneyhSmith commented on #223
Thanks, we are investigating the issue and working to get the gallery up as quickly as possible...will try to post updates as available

[2022-06-14 20:24] SydneyhSmith commented on #223
This is now resolved, please let us know if you are still experiencing any issues

[2022-06-14 20:39] Angel-CDO commented on #223
Still experiencing the issue (from several locations)
![image](https://user-images.githubusercontent.com/94907066/173684265-b5a2cc8b-4485-41a5-bd02-d439db14111d.png)

[2022-06-14 22:54] GunArm commented on #223
I am also still experiencing the issue.  It has not changed since the psgallery_status.md was updated to save resolved.  I get exactly the same output as @Angel-CDO above (no need to repaste it).  I get this result both from PCs on my network as well as from EC2s exiting aws.

[2022-06-14 23:26] GunArm commented on #223
Yes I am, and before it was "resolved" I was not able to.  So that did change.

[code]

[2022-06-15 03:28] mzarglis commented on #223
Still down for me ( east coast NA)

[2022-06-15 05:50] GunArm commented on #223
To add:  After getting home from work I tried running it on my home computer, and it succeeds.  I remoted back into work and it still fails both from my work and from an EC2 with no outgoing firewall rules.  As mentioned above I ran `ipconfig /flushdns`, however I only know enough about DNS to know it's layered and incomprehensible.  Maybe some kind of propagation issue, although I can access the

[2022-06-15 10:49] Robert-Azelis commented on #228
I just tested new **KB5014699 2022-06 Cumulative Update for Windows 10 Version 21H2 for x64** on fresh installed system Windows 10 21H2, **NO issue so far**, script is able gathering hash data device from MDM_DevDetail_Ext01 class.

Let us know if it works for you.

[2022-06-15 18:05] mzarglis commented on #223
For the packages there is probably multiple regional CDNs which why it may work from some places and not others as DNS propogates and caches timeout

[2022-06-15 18:31] mzarglis commented on #223
@GunArm

For the packages there is probably multiple regional CDNs which why it may work from some places and not others as DNS propogates and caches timeout

[2022-06-16 18:58] SydneyhSmith commented on #223
Checking back in-- anyone still experiencing issues downloading from the site?

[2022-06-16 19:00] mzarglis commented on #223
@SydneyhSmith  Resolved for me. Thanks!

[2022-06-19 14:24] fflaten commented on #199
Any plans on fixing this @SydneyhSmith ?
Just noticed this while looking for stats about which module version is actually being used by the community recently.

[2022-06-23 18:20] #223 closed

[2022-08-18 13:18] Sylfwood commented on #221
@SydneyhSmith It it probably related, but we do not receive any confirmation email when changing `Email Adfress` in `Account settings`. So impossible to change email. I tried to reach you by using "Contact Owners" links... Now I know why I never get any response

Any follow-up on this issue?

[2022-08-19 04:53] carsten-riedel opened #233 "Account: Change of E-Mail Address https://www.powershellgallery.com"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [x] Search the existing issues.

### Steps to reproduce

Seems to be a duplicate, but it don't get fixed so i address this topic solely again

Case 1)
1) Login to powershell https://www.powershellgallery.com
2) Go to account settings
3) Change E-Mail
4) Enter the new E-Mail

Case 2)

[2022-08-25 16:15] Sylfwood commented on #233
Same problem here! Still waiting for support.

Probably related to this [issue](https://github.com/PowerShell/PowerShellGallery/issues/221).

[2022-08-26 18:57] mwpreston opened #234 "Not recieving email for password reset"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

Hi,

I am trying to reset a password to an account (belongs to my employer) that is the owner of a few of our modules that we have published.

I enter in the username, then the recovery email, but I never receive the actual em

[2022-09-01 09:35] wenzzzel opened #235 "Certificate has expired. Can't install modules."
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

1. Run <code>Install-Module CosmosDb</code>
2. Get's this returned <code>WARNING: Source Location 'https://www.powershellgallery.com/api/v2/package/CosmosDB/4.6.0' is not valid.</code><code>Install-Package: Package 'CosmosDB'

[2022-09-02 12:03] wenzzzel commented on #235
It probably has to do with corporate policies and VPNs. Closing this Issue. Sorry if I alarmed anybody.

[2022-09-02 12:03] #235 closed

[2022-09-15 18:52] anamnavi commented on #233
Hi @carsten-riedel and @Sylfwood, our apologies for the inconvenience. Unfortunately this is due to an email relay issue we're working to resolve. In the meantime, if you could email us at PSGallerySupport@microsoft.com with the issue you're facing and need an email change for we'd be happy to resolve it. Thanks!

[2022-09-22 13:03] o-l-a-v opened #236 "Web page: Packages "Sort by" doesn't do anything"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

1. Open a browser in guest mode to ensure no conflicting addons or history.
2. Go to https://www.powershellgallery.com/packages
3. Change "Sort By" to anything but the default value, nothing happens.

Also observe that changin

[2022-09-23 23:36] HBSbwilliamson opened #237 "SSL Cert errors for PnP.Powershell UntrustedRoot"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

Import-Module failing for any version of PnP.Powershell
Install-Module -Name PnP.PowerShell -AllowPrerelease
invoke-webrequest "https://www.powershellgallery.com/api/v2/package/PnP.PowerShell/1.11.84-nightly"
Invoke-WebRequest

[2022-09-29 02:37] WarmWelcome commented on #213
Having the same issue, a resolution to this seemingly impossible to fix issue would be fantastic. I've been attempting to solve this on and off for weeks, and have tried everything in the book. Anything involving powershellgallery will not work.
![image](https://user-images.githubusercontent.com/81194954/192925881-0b3a6dab-8c87-4b49-a1fd-2e995c690adc.png)

[2022-09-29 18:22] alerickson commented on #236
Thanks @o-l-a-v for bringing this to our attention!  It looks like that functionality is not working at all right now.  We'll get on tackling this issue.

[2022-09-29 18:23] alerickson commented on #234
Hi @mwpreston if you email psgallery@microsoft.com we can handle this issue for you.  Sorry for the inconvenience!

[2022-10-04 06:27] jianyingt opened #238 "Register-psrepository failed with "The property 'Name' cannot be found on this object" error"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

Recently, I got one issue from customer. We find the issue is caused by Ping-Endpoint (functions in PowershellGet module, PSModule.psm1 ) returns 403 or 405 randomly when execute Register-PSRepository.

1- In the environment,

[2022-10-05 08:31] arkenfar commented on #153
To anyone who faces the same issue:

The root cause of the issue was the the "Kerberos double hop".
You can find different solution in [PowerShell Remoting Kerberos Double Hop Solved Securely](https://learn.microsoft.com/en-us/archive/blogs/ashleymcglone/powershell-remoting-kerberos-double-hop-solved-securely)

After taking care of the "Kerberos double hop", both the Ansible play and `Enter-PSSess

[2022-10-10 18:37] alerickson commented on #201
Hi @rashil2000 I just wanted to give you a quick update, we'll have an answer for you as to how we can best address this situation by the end of the week.  Thank you so much for your patience, we hope to get this resolved very soon.

[2022-10-10 18:39] rashil2000 commented on #201
Alright, thanks for the heads up!

[2022-10-10 18:47] alerickson commented on #236
We'll have an update for you on this by the end of the week!

[2022-10-10 18:50] alerickson commented on #213
Hi @WarmWelcome, we can start debugging this by seeing if it's a network issue.  Does `invoke-webrequest "https://www.powershellgallery.com/api/v2"` return a status code of 200?

[2022-10-11 16:40] trydalch commented on #213
I'm running into the same issue.

[2022-10-17 18:41] anamnavi commented on #213
@WarmWelcome given that you are not able to run `Invoke-WebRequest` successfully, this indicates it may be a network issue instead of connectivity issue. Are you able to access `https://www.powershellgallery.com/` via the web browser?

[2022-10-18 18:17] dbaileyut commented on #206
Agreed.

For example, see: [AccessControlDSC](https://www.powershellgallery.com/packages/AccessControlDSC)

It purports to be from Microsoft, but as far as I can tell, it's hosted in a personal repo. I can see contributions from folks with Microsoft in their GitHub profiles. I've reviewed the code and it looks good... So, it looks legit but how am I supposed to know if this is actually a Microsoft

[2022-10-18 23:16] alerickson commented on #236
Quick update:  we have this bug resolved now, and hopefully get this fix deployed in the next week.

[2022-10-24 03:00] Konstantin-Glukhov opened #239 "powershell gallery search does not return results"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

powershell gallery search does not return results even though the item is present in the gallery.

### Expected behavior

[code]

### Actual behavior

[code]

### Error details

_No response_

### Environment data

[code]

###

[2022-10-24 18:24] alerickson commented on #239
Hi @Konstantin-Glukhov, we actually only support searching for modules and scripts, not the contents of modules or scripts, that's why `Format-Columns` does not return results.  Please let us know if you're having any other issues with returned results.

[2022-10-24 18:24] #239 closed

[2022-10-24 18:30] alerickson commented on #206
@dbaileyut we're currently running scripts to validate newly published modules to check if they're spoofing or typo squatting.  This a short term solution as we work on more thorough ways to validate packages.  In the long term, we'd like to work on implementing security feature akin to what @Jaykul has mentioned.  Please feel free to add any suggestions here.

[2022-10-25 04:23] Konstantin-Glukhov commented on #239
Is Format-Columns.ps1 considered to be a script name? Should it be found?

[2022-10-25 04:26] Konstantin-Glukhov commented on #239
Could you provide instructions how I can install this module in PowerShell 7.2.7? (Please don't send me to read manuals! I already read all of them and cannot figure out how to do this simple task.)

[2022-10-26 21:27] bkoelman opened #240 "WindowStyle Hidden broke after update to PowerShell v7.2.7"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

The next shortcut on my desktop used to start the specified script without opening a console window. After updating to PowerShell v7.2.7, the console window always appears and remains visible.

"C:\Program Files\PowerShell\7\p

[2022-10-27 07:02] JustinGrote opened #241 "PSGallery Search() Function doesn't page unless the top is 100 above the result count"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://www.powershellgallery.com/packages/PowerShellGet)
- [X] Search the existing issues.

### Steps to reproduce

So I noticed this while experimenting with some high performance queries against PSGallery, maybe someone can clarify for me what's going on or if this is in

[2022-10-29 18:20] JustinGrote commented on #21
For anyone coming to this, to close the loop, the json was never fixed, and XML is still the only option, at least as far as I can tell.

[2022-10-29 20:26] alexandair commented on #236
11 days later, the fix is still waiting to be deployed. :(

[2022-10-31 21:15] alerickson commented on #240
@StevenBucher98 can you transfer this issue to PowerShell/PowerShell?

[2022-11-01 19:55] Sylfwood commented on #233
Hi @anamnavi, I tried to reach you at PSGallerySupport@microsoft.com in September, but I didn't get any response from you. Is this normal?

[2022-11-01 20:09] Sylfwood commented on #233
I also tried to email you at psgallery@microsoft.com as suggest in this [thread](https://github.com/PowerShell/PowerShellGallery/issues/234#issuecomment-1262654575). But I received a message back from postmaster@microsoft.com mentioning this error :
`Your message wasn't delivered because the recipient's email provider rejected it.`

[2022-11-03 13:45] SleepTheGod commented on #229
Not sure was just bored really sorry forgot about this I'm the worse at responding

[2022-11-07 20:33] anamnavi commented on #233
@Sylfwood sorry for this happening, I think I unfortunately missed it. Can you email it again to psgallerysupport@microsoft.com, and I'll be on the lookout so I can resolve it this week.

[2022-11-07 20:34] anamnavi commented on #236
@alexandair @o-l-a-v we'll have a temporary fix for this by tomorrow and then a more permanent fix by the end of the month. Thanks for your patience!

[2022-11-08 21:44] Sylfwood commented on #233
I have sent you a new email

[2022-11-09 17:27] fflaten commented on #207
It's also fixed in newer versions of the module, so ready to close @wagde-orca or @SydneyhSmith. 🙂

[2022-11-09 17:46] pbafna03 opened #242 "PowerShell Gallery - Issue with Download Stats"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

(1) Latest versions are NOT showing download stats, it's showing up as 0 across multiple modules

![image](https://user-images.githubusercontent.com/91604587/200902022-57bb5165-2b00-486c-93bd-854fdebf1ed4.png)

![image](https:

[2022-11-11 13:30] seanmcne commented on #242
I too am experiencing the issue - I tried contacting support a couple days ago but haven’t heard anything back.

[2022-11-11 18:51] mikenelson-io commented on #242
Same issue with a module we posted on 11/7/22.

[2022-11-11 18:57] mikenelson-io commented on #124
Almost 2023 and it still says 12/4/2020. C'mon folks.
![image](https://user-images.githubusercontent.com/6254544/201411421-d6daaa3e-4355-4ae0-99e7-b19e1394b0fe.png)

[2022-11-13 08:53] rashil2000 commented on #201
Hey @alerickson, just checking in to see any updates on this. It's been another month...

[2022-11-14 19:49] anamnavi commented on #242
@pbafna03 @seanmcne @mikenelson-io thanks for reaching out. We are looking into this and working to resolve it, but don't have a definitive timeframe for the solution at the moment.

[2022-11-14 19:52] anamnavi commented on #124
We are aware and understand the frustration regarding this and are looking into this but unfortunately don't have a definitive answer for when it'll be resolved by.

[2022-11-14 19:52] #207 closed

[2022-11-14 19:54] #236 closed

[2022-11-15 15:45] seanmcne commented on #242
@anamnavi if you could provide some level of updates here, that would be greatly appreciated.  Stats are quite important to many of us as it gives us an idea of version update uptake, etc. Additionally, consumers of the gallery look at stats and see 0 and assume there is a bug or issue with the module update leading to confusion.

[2022-11-17 21:11] adityapatwardhan commented on #242
We have potentially found the issue and are working on the fix.

[2022-11-18 19:00] adityapatwardhan commented on #242
The package download statistics are now visible on PowerShell Gallery. Please let us know if you see otherwise.

[2022-11-18 22:15] BanterBoy commented on #242
If this was fixed, surely the date that the latest stats were updated, would be more recent.......but then I guess it really depends on your perception of what recent means. For me, it usually means at least within the same year.

![image](https://user-images.githubusercontent.com/600150/202811533-13557966-1576-4f4f-8eef-57474adbf554.png)

Please advise what you mean when you say the stats are now

[2022-11-21 19:58] anamnavi commented on #242
@BanterBoy our apologies, you're correct...we've resolved the first half of this issue where on a given package's page the download count for the version was reflecting 0, not the actual number. (Scenario #1 in the Expected Results section of this issue)

The second half of this issue, regarding Scenario #2 in the Expected Results section of this issue and what's listed in your comment, is not yet

[2022-11-21 19:59] anamnavi commented on #124
Updates are being posted in this similar issue here: https://github.com/PowerShell/PowerShellGallery/issues/242

[2022-11-21 20:00] #124 closed

[2022-11-21 20:02] anamnavi commented on #201
Closing this as it was resolved via email. If you have any issues please feel free to reach out, thanks!

[2022-11-21 20:02] #201 closed

[2022-11-21 20:06] anamnavi commented on #233
Closing this as it was resolved via email. Feel free to reach out if there are any other issues, thanks!

[2022-11-21 20:06] #233 closed

[2022-11-22 06:19] rashil2000 commented on #201
Thanks so much! Issue resolved :)

[2022-11-25 08:37] kamennikolov opened #246 "I cannot publish a module that contains more than 5000 cmdlets in the PSGallery"

[2022-11-28 20:09] #229 closed